[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "==17.6"
psycopg2-binary = "==2.9.5"
pandas = "==1.5.3"
sqlalchemy = "==2.0.5"

[dev-packages]

[requires]
python_version = "3.11"
